body {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    font-family: serif;
    font-weight: 400;
    letter-spacing: .1px;
    /*background: rgb(231, 237, 238);*/
    /* background-color: rgb(9, 9, 9); */
    color: #1f1f1f;
}

h1,h2,h3,h4,p,b,em{
    font-weight: 400;
}

section {
    padding: 10px;
    max-width: 900px;
    display: block;
}

header {
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    width: 97vw;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

p { 
    display: inline;
}

p[class*="M"]::before,
p[class*="V"]::before, p[class*="N"]::before, p[class*="S"]::before, p[class*="_"]::before,
p[class*="R"]::before, p[class*="T"]::before,p[class*="C"]::before, p[class*="P"]::before, p[class*="J"]::before{
    content: ' ';
}

._SP {
    display: block;
}

.NNP {
    color: darkorchid;
    text-transform: capitalize;
}

.NN {
    color: darkorange;
}

.JJ {
    color: hotpink;
}

.NFP{
    display: none;
}
